/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.container {
    margin: 20px auto;
    width: 600px;
    padding: 0px 20px 20px 20px;
    border: 1px dotted black;
  }

  th {
    text-align: center;
  }


.title{
	color: black;
	font-weight: bold;
}

.text{
	color:green;
}

.definition{
	color : blue;
	margin-top: 20px;
	margin-bottom: 20px;
}

input[text] {
  /*width: 200px;*/
}

.errors{
  color: red;
}

.nav-bar li{
  display: inline-block;
  margin: 12px;
}

#logout_button{
  position: fixed;
  right: 10px;
}

table {
border-top:1px solid #e5eff8;
border-right:1px solid #e5eff8;
margin-bottom: 30px
}


td {
color:#678197;
border-bottom:1px solid #e5eff8;
border-left:1px solid #e5eff8;
padding: 14px;
text-align:center;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: navy;
}

a:active {
    text-decoration: none;
}