/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.stage{
	-webkit-perspective:1000;
}
.flashcard {
  height: 400px;
  width: 600px;
  border: 2px solid gray;
  box-shadow: 2px 2px 2px #000;
  -webkit-transform-style: preserve-3d;  
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  margin-bottom: 20px;
}

.front, .back {
  height: 400px;
  width: 600px;
  position: absolute;
  text-align: center;
  -webkit-backface-visibility: hidden;
}

.back, .flipped {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
background: -moz-repeating-linear-gradient(180deg, #1301FE, #1301FE 0, #FEECF3 0, #FFFFFF 2px, #FFFFFF 29px);/* FF3.6+ */
background: -webkit-repeating-gradient(linear, 180deg, color-stop(0, 1301FE), color-stop(0, FEECF3), color-stop(2px, FFFFFF), color-stop(29px, FFFFFF));/* Chrome,Safari4+ */
background: -webkit-repeating-linear-gradient(180deg, #1301FE, #1301FE 0, #FEECF3 0, #FFFFFF 2px, #FFFFFF 29px);/* Chrome10+,Safari5.1+ */
background: -o-repeating-linear-gradient(180deg, #1301FE, #1301FE 0, #FEECF3 0, #FFFFFF 2px, #FFFFFF 29px);/* Opera 11.10+ */
background: -ms-linear-gradient(180deg, #1301FE, #1301FE 0, #FEECF3 0, #FFFFFF 2px, #FFFFFF 29px);/* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
background: repeating-linear-gradient(180deg, #1301FE, #1301FE 0, #FEECF3 0, #FFFFFF 2px, #FFFFFF 29px);/* W3C */

}

.front p{
	margin-top: 25%;
	font-size: 3em;
}

.back p{
	margin-top: 5%;
	font-size: 3em;
}

.back table{
	margin: 0 auto;
}
