<h1>All cards in <%=@deck.name%></h1>
<p class="medium-6">
	<% @deck.cards.each do |card| %>
	<%= link_to card.word, card_path(card), class: "secondary button"%>
	<% end %>

	<%=link_to "Start Deck", card_path(1), class: "button" %>
</p>